{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "consistent-return": 0,
    "camelcase": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0,
    "no-underscore-dangle": 0,
    // Imports
    "import/extensions": [
      "error",
      "always",
      {
        ".mjs": "never"
      }
    ],
    "import/prefer-default-export": 0
  }
}
